/* form */
.form_container{
    border: 3px solid black;
    border-radius: 15%;
    background-color: rgb(173, 74, 187);
    margin: auto;
    place-self: center;
}
.form input, .form textarea{
    width: clamp(120px, 50vw, 420px);
    height: 2.5rem;
    border: 1px solid black;
    padding: 0 1.25rem;
    margin: 0.625rem auto;
    transition: all 250ms;
    @media (min-width: 768px){
        width: clamp(120px, 35vw, 420px);
    }
    /* when form_input class is in focus */
    &:focus{
        outline: none;
        border-top-color: rgba(0, 0, 0, 0.1);
    }
    /* transforms the label color when input is in focus and when the input field has content */
    &:focus + .form_label,
    &:not(:placeholder-shown) + .form_label{
        transform: translateY(-4.5rem) scale(1);
        color: var(--black);
    }
    &::placeholder {
        display: none;
        color: transparent;
        /* placeholder highlight prevention */
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none;  /* IE 10 and IE11 */
        user-select: none; /* Standard */
    }
}
.form textarea{
    resize: vertical;
}
/* contactform labels */
.form_label{
    font-size: 1rem;
    color: var(--gray);
    display: flex;

    transform: translate(0rem, -2.5rem);
    transform-origin: 0 0;
    transition: all 500ms;
    justify-content: center;

    /* label highlight prevention */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;  /* IE 10 and IE11 */
    user-select: none; /* Standard */

    pointer-events: none;
}
/*submit button  */
input[type=submit]{
    cursor: pointer;
    background-color: var(--off-white);
}