/* font */
@font-face {
    font-family: 'merriweather-italic';
    src: url('../font/merriweather/Merriweather-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'merriweatherbold';
    src: url('../font/merriweather/merriweather-bold-webfont.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}
/* /font */

/* colors */
:root{
    --black: #303030;
    --off-white: #edeee9;
    --gray: #909090;
    --cool_purple: rgb(173, 74, 187);
    --bg_darkmode: #121212;
    --text_darkmode: #ffffff;
}
/* /colors */

/* general */
html,
body{
    min-height: 100vh;
    padding: 0px;
    max-width: 100vw;
    display: flex;
    flex-direction: column;
}
html{
    position: relative;
    scroll-behavior: smooth;
    font-family: 'merriweather-italic';
    overflow-x: hidden;
}
body{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgb(45, 1, 53) 0%, var(--cool_purple) 40%, rgb(39, 1, 46) 110%);
    text-align: center;
    font-size: 17px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h1{
    margin: 0;
}
p{
    margin: 0;
}
/* /general */

/* buttons on main */
.main_button{
    display: inline-block;
    flex-direction: row;
    justify-content: center;
    background-color: transparent;
    border: none;
}
.main_button a{
    display: table-cell;
    font-size: 2rem;
    text-decoration: none;
    max-height: 4rem;
    width: auto;
    padding: 0 2rem;
    margin: 0 2rem;
    background: #996ce2;
    color: #000000;
}
/* /buttons on main */

/* nav */
.nav{
    width: 100%;
    height: auto;
    top: 0;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    flex: 33%;
    flex-wrap: wrap;
    z-index: 1000;

    background-color: rgb(134, 65, 143);
    border: solid black;
    border-radius: 0% 0% 25% 25%;
}
.nav a{
    font-size: 1rem;
    display: inline-block;
    text-decoration: none;
    color: black;
    white-space: nowrap;
    padding: 1vh 0;
}
nav ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
.nav li:hover{
    cursor: pointer;
}
.nav li{
    display: inline-block;
    margin: 0 2.5vw;
}
/* /nav */
/* language switch */
.lang_button{
    z-index: 1000;
    overflow: visible;
}
.lang_icon {
    cursor: pointer; 
        -webkit-user-select: none;  /* Prevent selection on iOS Safari */
        -webkit-touch-callout: none;  /* Disable image save menu on long press */
        user-select: none;
        pointer-events: auto; /* Ensure it's clickable */
}
.lang {
    display: none;
    transition: all 0.3s ease-in-out;
}
.lang.active {
    display: block;
}
/* /language switch */

/* content */
.intro img#me{
    display: block;
    padding: 1rem 0px 2rem;
    margin: 0px auto;
    border-radius: 15%; 
}
img{
   -webkit-user-drag: none;
   -webkit-user-select: none;
    user-select: none;
    -moz-user-select: none;
    -ms-user-select: none 
}
.flex-container{
    display: flex;
    flex-direction: column;
    overflow: initial;
    min-height: 100vh;
}
.title{
    font-size: 1.5rem;
    font-family: 'merriweatherbold';
}
.parent{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    max-width: 100%;
    padding-bottom: 1rem;
}
.content{
    display: flex;
    border-top: solid rgb(0, 0, 0);
    margin: 0px auto;
    line-height: 1.5rem;
}
.content > *{
    flex: 1;
    min-width: fit-content;
}
.text_container{
    max-width: 100%;
    margin: 0 1rem;
    text-wrap: initial;
}
section:nth-child(6){
    text-align: left;
}
.add{
    padding: 1rem 0 0;
    border-top: solid #000000;
}
/* /content */

/* form */
/* form container */
.form_container{
    border: 3px solid black;
    border-radius: 15%;
    background-color: rgb(173, 74, 187);
    margin: auto;
    place-self: center;
    height: fit-content;
}
/* form input and textarea */
.form input, .form textarea{
    width: 75%;
    height: 2.5rem;
    border: 1px solid black;
    padding: 0 1.25rem;
    margin: 0.625rem auto;
    transition: all 250ms;
    /* when elemt with class form_input is in focus */
    &:focus{
        outline: none;
        border-top-color: rgba(0, 0, 0, 0.1);
    }
    /* transforms the label color when input is in focus and when the input field has content */
    &:focus + .form_label,
    &:not(:placeholder-shown) + .form_label{
        transform: translateY(-4.5rem) scale(1);
        color: var(--black);
    }
    &::placeholder {
        display: none;
        color: transparent;
        /* placeholder highlight prevention */
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none;  /* IE 10 and IE11 */
        user-select: none; /* Standard */
    }
}
.form textarea{
    resize: vertical;
}
/* contactform labels */
.form_label{
    font-size: 1rem;
    color: var(--gray);
    display: flex;

    transform: translate(0rem, -2.5rem);
    transform-origin: 0 0;
    transition: all 500ms;
    justify-content: center;

    /* label highlight prevention */
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none;  /* IE 10 and IE11 */
    user-select: none; /* Standard */

    pointer-events: none;
}
/* /contactform labels */

/*submit button  */
input[type=submit]{
    cursor: pointer;
    background-color: var(--off-white);
}
/* /submit button  */
/* /form */

/* footer */
footer {
    display: inline-flex;
    position: static;
    align-items: center;
    height: 2rem;
    margin: 0 auto;
    margin-top: auto;
    border-top: 2px solid black;
    background-color: rgb(134, 65, 143);
    justify-content: space-around;
    flex: 50% 0 0;
    flex-wrap: wrap;
    padding: 0.5rem;
}

footer a {
    color: rgb(0, 0, 0);
    text-decoration-line: none;
}
footer li{
    list-style-type: none;
    line-height: 0.8rem;
}

footer a:hover {
    cursor: pointer;
}

.footer_child {
    flex: 1; 
}

.footer_child:first-child {
    text-align: left;
}
/* /footer */

/* media screen queries */
/* small screen */
@media screen and (max-width: 600px) {
    #button {
        display: flex;
        flex-direction: column;
        justify-content: end;
        position: fixed;
        top: 62px;
        right: 0px;
        z-index: 999;
    }
    #mobile{
        display: flex;
    }
    body{
        position: relative;
        margin: 0px;
    }
    .parent{
        margin: 0 10%;
    }
    h1{
        font-size: 2rem;
    }
    p{
        font-size: 1rem;
    }
    .intro{
        margin: 0;
    }
    .intro img#me{
        max-width: 70%;
        height: auto;
    }
    .lang_icon{
    width: 30px;
    height: 30px;
    }
    .lang_button{
        padding: 0;
        margin: 0 20px;
    }
    .content{
    max-width: 100%;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
    flex: 50%;
    padding: 4rem 1rem 2rem 1rem;
    }
    section:nth-child(5){
        font-size: 1rem;
    }
    .form_container{
    width: 100%;
    }
    footer{
        width: 100%;
    }
    footer li{
        font-size: 1rem;
    }
    .footer_child:last-child {
        position: relative;
    }
}
/* /small screen */

/* bigger screen */
@media screen and (min-width: 600px) {
    #button {
        display: inline-block;
        position: relative;
        left: 0;
        right: 0;
    }
    #pc_button.info {
        left: 35vw;
    }
    #mobile{
        display: none;
    }
    body{
        width: 85%;
        margin: 0px auto;
    }
    h1{
        font-size: 3rem;
    }
    p{
        font-size: 1.2rem;
    }
    .nav a{
        font-size: 2rem;
    }
    .intro{
        margin-top: 1rem;
    }
    .intro img#me{
        max-width: 30%;
        height: auto;
    }
    .lang_icon{
        width: 40px;
        height: 40px;
    }
    .lang_button{
        padding: 10px 20px;
    }
    .content{
    max-width: 75%;
    border-top-left-radius: 75%;
    border-top-right-radius: 75%;
    flex: 35%;
    padding: 4rem 1rem 3rem;
    }
    .form_container{
    width: 50%;
    }
    #good_to_know{
    padding: 0rem 0rem 1rem;
    border-top-left-radius: 5%;
    border-top-right-radius: 5%;
    }
    footer{
        width: 75%;
        font-size: 1.2rem;
    }
    .footer_child:last-child {
        text-align: left; 
        position: relative;
        margin: 0 auto;
    }
}
/* /bigger screen */
/* /media screen queries */